@import "tailwindcss";

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Inter,sans-serif;
background:#f6f7fb;
overflow-x:hidden;
}

html{
scroll-behavior:smooth;
}

.hero-gradient{
background:
linear-gradient(
135deg,
#ffffff 0%,
#f3f0ff 50%,
#eef2ff 100%
);
}

.feature-card{
transition:all .4s ease;
}

.feature-card:hover{
transform:translateY(-10px);
box-shadow:
0 20px 40px rgba(124,58,237,.15);
}

.primary-btn{
background:
linear-gradient(
90deg,
#7c3aed,
#6366f1
);

color:white;

transition:.4s;
}

.primary-btn:hover{
transform:translateY(-3px);

box-shadow:
0 12px 25px rgba(
124,
58,
237,
.35
);
}

.logo-shadow{
box-shadow:
0 10px 30px rgba(
124,
58,
237,
.2
);
}

.float{
animation:float 4s infinite ease;
}

@keyframes float{

0%{
transform:translateY(0px)
}

50%{
transform:translateY(-15px)
}

100%{
transform:translateY(0px)
}

}